body  {background-color:darkgrey}
h1    {font-family: Arial, Helvetica, sans-serif;color:#020dab;border-style: outset;border-radius: 10px;
	padding: 5px;margin: 0;display: inline;border-color:#000a99;text-align: center;}
h2    {font-family: Arial, Helvetica, sans-serif;color:#ad0903;border-style: inset; border-radius: 10px;
	padding: 5px;margin: 0;display: inline;text-align: center;} 
button {font-family: Arial, Helvetica, sans-serif;color:#FFFFFF;border-style: outset;border-radius: 5px;
	padding: 2px;margin: 0;text-align: center;background-color:#575958;border-color:#424242}
